* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*************PAGE_LOADER*********/
#pageLoader {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #00acee;
  z-index: 20;
  transition: 800ms ease;
}

.loader-logo {
  position: relative;
  top: -100px;
}

.loader-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.ball {
  position: relative;
  background: #fff;
  width: 20px;
  height: 20px;
  margin: 2px;
  border-radius: 50%;
  animation: bouncer 0.5s infinite cubic-bezier(0.19, 0.57, 0.3, 0.98) alternate;
}

.loader-container .ball:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.7;
}
.loader-container .ball:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}
.loader-container .ball:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.5;
}
.loader-container .ball:nth-child(5) {
  animation-delay: 0.4s;
  opacity: 0.4;
}

@keyframes bouncer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 10px 0 0 10px;
  list-style-type: none;
  border-radius: 5px;
  border: 2px solid rgb(15, 173, 68);
  background: rgba(255, 255, 255, 0.774);
  padding: 5px;
  z-index: 15;
}

.socialamedia-links {
  font-size: 20px;
  padding: 0px 0;
}
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/

.home-nav-logo {
  position: relative;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.fa-linkedin-in {
  color: #0e76a8;
  transition: 0.2s ease-in-out;
}
.fa-linkedin-in:hover,
.fa-linkedin-in:focus,
.fa-linkedin-in:active {
  cursor: pointer;
  color: #17aff5;
}
.fa-instagram {
  color: #fff;
  background-color: #405de6;
  background-image: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  border-radius: 3px;
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s ease-in-out;
}
.fa-instagram:hover,
.fa-instagram:focus,
.fa-instagram:active {
  cursor: pointer;
}
.fa-twitter {
  color: #00acee;
  transition: 0.2s ease-in-out;
}
.fa-twitter:hover,
.fa-twitter:focus,
.fa-twitter:active {
  cursor: pointer;
  color: #51cbfc;
}
.fa-pinterest-p {
  color: #c8232c;
  transition: 0.2s ease-in-out;
}
.fa-pinterest-p:hover,
.fa-pinterest-p:focus,
.fa-pinterest-p:active {
  cursor: pointer;
  color: #fc2f39;
}
.fa-facebook-f {
  color: #3b5998;
  transition: 0.2s ease-in-out;
}
.fa-facebook-f:hover,
.fa-facebook-f:focus,
.fa-facebook-f:active {
  cursor: pointer;
  color: #6290f5;
}
.fa-tiktok {
  color: #ee1d52;
  transition: 0.2s ease-in-out;
}
.fa-tiktok:hover,
.fa-tiktok:focus,
.fa-tiktok:active {
  color: #fc7899;
}

/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/*************LI HOVER*************/
/***********DESTINATION-NAV**************/

.destination-ul {
  position: absolute;
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: flex-end;
  margin: 5px 20px 0 0;
}

.destination-li {
  list-style-type: none;
}

.destination-a {
  position: relative;
  margin: 0px 20px;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  transition: 200ms ease-in-out;
  z-index: 10;
}
.destination-a:hover,
.destination-a:focus,
.destination-a:active {
  color: rgb(15, 173, 68);
  cursor: pointer;
}

.drop1-container {
  display: flex;
  flex-direction: column;
}

.dropdowncontent {
  position: relative;
  top: -290px;
  padding-top: 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  opacity: 1;
  color: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(15, 173, 68);
  background: rgba(33, 198, 248, 0.055);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.04);
}

.dropdowncontent2 {
  position: relative;
  top: -290px;
  padding-top: 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  opacity: 1;
  color: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(15, 173, 68);
  background: rgba(33, 198, 248, 0.055);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.04);
}

.dropdowncontent3 {
  position: relative;
  top: -290px;
  padding-top: 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  opacity: 1;
  color: #fff;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(15, 173, 68);
  background: rgba(33, 198, 248, 0.055);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.04);
}

.drop1 {
  position: relative;
  top: 0px;
  font-weight: 500;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  transition: 200ms ease-in-out;
  z-index: 10;
}

.drop1:hover,
.drop1:focus,
.drop1:active {
  color: rgb(15, 173, 68);
}

.drop2 {
  position: relative;
  left: -3px;
  top: 0px;
  font-weight: 500;
  margin: 10px;
  color: #fff;
  text-decoration: none;
  transition: 200ms ease-in-out;
  z-index: 10;
}
.drop2:hover,
.drop2:focus,
.drop2:active {
  color: rgb(15, 173, 68);
}
/************DROP_BOX_END*********/
/***************FOREST_HEADER**************/
.forrest-header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  border-bottom: 2px solid rgb(15, 173, 68);
  transition: 800ms ease;
}

.forest-bkg {
  position: fixed;
  background-image: url(../img/forest-header.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(1px);
  transition: 800ms ease-in-out;
}

.forrest-header:hover .forest-bkg {
  filter: blur(0px);
  background-position: top;
  background-size: cover;
}

/****************CLIFF_HANGER*************/
.cliff-container {
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  z-index: 10;
}

.cliff-man {
  position: relative;
  bottom: -200px;
  opacity: 0;
  left: 80%;
  transition: 800ms ease;
}
.forrest-header:hover .cliff-man {
  bottom: -10px;
  left: 30%;
  opacity: 1;
}

.logo-wrapper {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  position: relative;
}

.banner-text .header-h1-2 {
  position: relative;
  top: 80px;
  align-items: center;
  text-align: center;
  font-size: 65px;
  font-weight: 300;
  color: rgb(33, 198, 248);
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.521);
}

.forest-h2 {
  position: relative;
  opacity: 1;
  top: 160px;
  align-items: center;
  text-align: center;
  font-size: 75px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 4px rgb(15, 173, 68);
}

/*****************SECTION_***************/
.section-1-forest {
  height: 100vh;
  background: #333;
  position: relative;
  z-index: 11;
}

/****************SIZING***************/
@media (max-width: 781px) {
  .banner-text .header-h1-2 {
    font-size: 40px;
  }
}
@media (max-width: 543px) {
  .banner-text .header-h1-2 {
    font-size: 30px;
  }
}
@media (max-width: 445px) {
  .banner-text .header-h1-2 {
    font-size: 25px;
    top: 100px;
    font-weight: 800;
  }
}
@media (max-width: 383px) {
  .banner-text .header-h1-2 {
    font-size: 15px;
  }
}
