@media (max-width: 615px) {
  .banner-text .header-h1 {
    font-size: 40px;
  }

  .banner-text .header-h1-2 {
    top: 187px;
  }

  .landscape:hover .header-h1-2,
  .landscape:focus .header-h1-2,
  .landscape:active .header-h1-2 {
    font-size: 40px;
  }
}
@media (max-width: 455px) {
  .banner-text .header-h1 {
    font-size: 25px;
  }

  .banner-text .header-h1-2 {
    top: 210px;
  }

  .landscape:hover .header-h1-2,
  .landscape:focus .header-h1-2,
  .landscape:active .header-h1-2 {
    font-size: 25px;
  }

  .btn-container {
    top: 230px;
  }
}
