/**************SECTION_4************/
.section-4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  border: 2px solid rgb(33, 198, 248);
  background: #333;
}

.section-4-btn {
  position: relative;
  border: 1px solid rgb(33, 198, 248);
  background-color: rgb(33, 198, 248);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 150px;
  padding: 5px;
  z-index: 12;
  opacity: 1;
  transition: 500ms ease-in-out;
}

.section-4-btn:hover,
.section-4-btn:focus,
.section-4-btn:active {
  border: 1px solid rgb(33, 198, 248);
  background: #fff;
  color: rgb(33, 198, 248);
  transition: 0.3s;
  cursor: pointer;
}
